#service-div.single-service-packages.deep-light-bg
  .container
    .section-header
      %h2.white-text It's Awesome
      .colored-line
      .section-description List your app features and all the details Lorem ipsum dolor kadr
      .colored-line
    .row
      .col-md-4
        .service-icon.blue-text
          %i.icon_cloud-upload_alt
        %h3 Your Data in Cloud
        %p Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      .col-md-4
        .service-icon.blue-text
          %i.icon_gift_alt
        %h3 Monthly Rewards
        %p Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      .col-md-4
        .service-icon.blue-text
          %i.icon_chat_alt
        %h3 24/7 Support
        %p Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
        
:javascript
  createAnimation($("#service-div"), "fadeIn");