.single-service-packages.deep-light-bg
  .container
    .section-header
      %h2.white-text Affordable Packages
      .colored-line
      .section-description List your app features and all the details Lorem ipsum dolor kadr
      .colored-line
    .row
      .col-md-4
        .single-package
          %h3 Personal
          .price
            %span.sign $
            50
            %span.month /month
          %ul.list-unstyled.app-list
            %li
              %i.icon_check_alt2
              Unlimited Photos
            %li
              %i.icon_check_alt2
              Secure Online Transfer
            %li
              %i.icon_check_alt2
              Unlimited Styles
            %li
              %i.icon_check_alt2
              Cloud Storage
            %li
              %i.icon_close_alt2
              24/7 Customer Service
            %li
              %i.icon_close_alt2
              Automatic Backup
      .col-md-4
        .single-package
          %h3 Business
          .price-blue
            %span.sign $
            75
            %span.month /month
          %ul.list-unstyled.app-list
            %li
              %i.icon_check_alt2
              Unlimited Photos
            %li
              %i.icon_check_alt2
              Secure Online Transfer
            %li
              %i.icon_check_alt2
              Unlimited Styles
            %li
              %i.icon_check_alt2
              Cloud Storage
            %li
              %i.icon_close_alt2
              24/7 Customer Service
            %li
              %i.icon_close_alt2
              Automatic Backup
      .col-md-4
        .single-package
          %h3 Ultimate
          .price
            %span.sign $
            99
            %span.month /month
          %ul.list-unstyled.app-list
            %li
              %i.icon_check_alt2
              Unlimited Photos
            %li
              %i.icon_check_alt2
              Secure Online Transfer
            %li
              %i.icon_check_alt2
              Unlimited Styles
            %li
              %i.icon_check_alt2
              Cloud Storage
            %li
              %i.icon_close_alt2
              24/7 Customer Service
            %li
              %i.icon_close_alt2
              Automatic Backup

:javascript
  createAnimation($(".single-service-packages"), "fadeIn");