#video-div.app-brief.deep-dark-bg
  = link_to 'HOME', root_path
  .container
    .row
      #video-left.col-md-6
        .video-container
          %iframe{ width: "530px" , height: "320px", :src => "//www.youtube.com/embed/Nr0_byEB3bo", allowfullscreen: true, frameborder: "0" }
      #video-right.col-md-6
        %h2.white-text Explain why it's best
        .colored-line-left
        %p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        
:javascript
  createAnimation($("#video-left"), "fadeInRight");
  createAnimation($("#video-right"), "fadeInLeft");
  